<p>Code: <%= @playlist.code.upcase %></p>
<% @tracks.each do |track| %>
    <% data = Spotify.lookup(track.url) %>
    <% votes = Vote.where("anonymous = ? AND track_id = ?",session[:user_identifier], track.id).count %>

    <div class="track_list_item">
    <button class="Upvote" name="track_id" value="<%= track.id %>"> + <span class="voteCount"><%= votes %></span></button>
    <span id="SongData">
        <%= data["track"]["artists"][0]["name"] + " - " + data["track"]["name"] + " (" + data["track"]["album"]["name"] + ")" %>
    </span>
    </div>
<% end %>
<%= form_tag "/playlist/#{@playlist.code}/add" do |f| %>
    <button class="UpvoteClone"></button>

   <input type="text" name="track_search" id="track_search" placeholder="Search...">
    <span id="search_results"></span>
<% end %>

<script type="text/javascript">
playlistCode = "<%= @playlist.code %>";

$("#track_search").keyup(function(e) {
    query = $("#track_search").val();
    if (query.length > 0) {
        $.getJSON("http://ws.spotify.com/search/1/track.json", {q: query}, function(json) {
            $("#search_results").html("");
            $.each(json["tracks"], function(i, track) {
                if (i < 5) {
                    $("#search_results").append(result_track_format(track));
                } else {
                    return false;
                }
            })
        });
    }
})

$(".Upvote").click(function(event) {
    id = $(this).val();
    $.post("/playlist/" + playlistCode + "/vote", {track_id: id}, function(data) {
        alert(data);
    });
});

function result_track_format(track) {
    html = "<div class='search_result_item'>";
    html += "<button class='QupButton' name='track_url' value='" + track["href"] + "'>";
    html += track["artists"][0]["name"] + " - " + track["name"] + " (" + track["album"]["name"] + ")";
    html += "</button></div>";
    return html;
}


</script>