<!DOCTYPE html>
<html>
<head>
  <title>QueueUp</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="centered">
    <%= link_to image_tag("queueup_logo.png", :id => "logo"), root_path %>

    <%= yield %>
</div>

</body>
</html>
